# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Data & Models
uci_dataset/
model/
videos/
*.zip
*.mat
*.pt
*.pkl
*.log

# Large files
cuff+less+blood+pressure+estimation.zip
